# ignore dependencies
node
node_modules
package-lock.json

# ignore temp files
program-zig-out

# ignore database files
db-backup

# ignore production files
rathole
client.toml
secrets.js
server.cert
server.csr
server.key
analytics-data.json

# ignore WSL metadata files
*.Identifier
