# ignore dependencies
node
node_modules
package-lock.json

# ignore temp files
program-zig-out

# ignore database files
db-backup

# ignore production files
rathole
client.toml
secrets.js
secrets.dart
server.cert
server.csr
server.key
analytics-data.json

# ignore WSL metadata files
*.Identifier

# ignore dart build stuff
.dart_tool/
pubspec.lock
*.exe