#page-middle-container {
    padding: 20px;
    margin-bottom: 50px;
    margin: auto;
    width: 75vw;
    min-width: 735px;
}

#program-showcase {
    width: 672px;
    margin: auto;
    background-color: var(--background2);
    border: 2px solid var(--borders2);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
}

.program-display-box {
    overflow: hidden;
    width: 150px;
    border: 1px solid var(--borders3);
    border-radius: 15px;
    margin: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: var(--text-color);
}
.program-display-box:hover {
    background-color: var(--transparent-background);
    transition: background-color 0.2s ease-in-out;
}

.lang-logo {
    margin: auto;
    margin-top: 16px;
    display: block;
    height: 100px;
}

tr {
    text-align: left;
}

td {
    border: 1px solid black;
    padding: 4px;
    min-width: 120px;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 22px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: var(--background2);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid var(--borders4);
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: var(--background3);
}