/* Main Page */
#page-middle-container {
    padding: 20px;
    margin: auto;
    max-width: 80%;
}

.course-div {
    background-color: var(--background2);
    border: 2px solid var(--borders2);
    border-radius: 5px;
    padding: 16px;
    padding-top: 6px;
    margin-bottom: 25px;
}